{
  "openapi": "3.1.0",
  "info": {
    "title": "Financial Services API",
    "description": "Comprehensive financial services platform with accounts, transactions, investments, and payments",
    "version": "2.0.0",
    "contact": {
      "name": "Financial API Support",
      "email": "support@financeapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.financeapi.com/v2",
      "description": "Production server"
    },
    {
      "url": "https://sandbox.financeapi.com/v2",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "List user accounts",
        "description": "Retrieve all accounts for the authenticated user",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["checking", "savings", "credit", "investment", "loan"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "closed", "frozen"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create new account",
        "description": "Open a new account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Get account details",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update account",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/balance": {
      "get": {
        "summary": "Get account balance",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "summary": "List transactions",
        "description": "Retrieve transaction history with filtering",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["debit", "credit", "transfer", "payment"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create transaction",
        "description": "Record a new transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "summary": "Get transaction details",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "summary": "Transfer funds",
        "description": "Transfer money between accounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "get": {
        "summary": "List payments",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "completed", "failed", "cancelled"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of payments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "payments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Payment"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Process payment",
        "description": "Process a payment transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "summary": "Get payment details",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Payment"
                }
              }
            }
          }
        }
      }
    },
    "/investments": {
      "get": {
        "summary": "List investments",
        "description": "Retrieve investment portfolio",
        "responses": {
          "200": {
            "description": "List of investments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Investment"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create investment",
        "description": "Add new investment to portfolio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Investment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investment"
                }
              }
            }
          }
        }
      }
    },
    "/investments/{investmentId}": {
      "get": {
        "summary": "Get investment details",
        "parameters": [
          {
            "name": "investmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Investment details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Investment"
                }
              }
            }
          }
        }
      }
    },
    "/loans": {
      "get": {
        "summary": "List loans",
        "description": "Retrieve user's loan accounts",
        "responses": {
          "200": {
            "description": "List of loans",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Loan"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Apply for loan",
        "description": "Submit a new loan application",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan application submitted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoanApplication"
                }
              }
            }
          }
        }
      }
    },
    "/loans/{loanId}": {
      "get": {
        "summary": "Get loan details",
        "parameters": [
          {
            "name": "loanId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Loan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Loan"
                }
              }
            }
          }
        }
      }
    },
    "/statements": {
      "get": {
        "summary": "Get account statements",
        "description": "Retrieve account statements for a specific period",
        "parameters": [
          {
            "name": "accountId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pdf", "csv", "json"],
              "default": "pdf"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Account statement",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "required": ["id", "userId", "type", "status", "balance", "currency"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "accountNumber": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": ["checking", "savings", "credit", "investment", "loan"]
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "closed", "frozen"]
          },
          "balance": {
            "type": "number",
            "format": "decimal"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "interestRate": {
            "type": "number",
            "format": "decimal"
          },
          "creditLimit": {
            "type": "number",
            "format": "decimal"
          },
          "minimumBalance": {
            "type": "number",
            "format": "decimal"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateAccountRequest": {
        "type": "object",
        "required": ["type", "name"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["checking", "savings", "credit", "investment"]
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "initialDeposit": {
            "type": "number",
            "format": "decimal",
            "minimum": 0
          }
        }
      },
      "UpdateAccountRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "frozen"]
          }
        }
      },
      "Balance": {
        "type": "object",
        "required": ["accountId", "currentBalance", "availableBalance", "currency"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "currentBalance": {
            "type": "number",
            "format": "decimal"
          },
          "availableBalance": {
            "type": "number",
            "format": "decimal"
          },
          "pendingBalance": {
            "type": "number",
            "format": "decimal"
          },
          "currency": {
            "type": "string",
            "pattern": "^[A-Z]{3}$"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "required": ["id", "accountId", "amount", "type", "status", "date"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "type": {
            "type": "string",
            "enum": ["debit", "credit", "transfer", "payment"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed", "cancelled"]
          },
          "description": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "balance": {
            "type": "number",
            "format": "decimal"
          }
        }
      },
      "CreateTransactionRequest": {
        "type": "object",
        "required": ["accountId", "amount", "type", "description"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "type": {
            "type": "string",
            "enum": ["debit", "credit"]
          },
          "description": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "merchant": {
            "type": "string"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "required": ["id", "fromAccountId", "toAccountId", "amount", "status", "date"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fromAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "toAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed", "cancelled"]
          },
          "description": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "fee": {
            "type": "number",
            "format": "decimal"
          }
        }
      },
      "TransferRequest": {
        "type": "object",
        "required": ["fromAccountId", "toAccountId", "amount"],
        "properties": {
          "fromAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "toAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "type": "object",
        "required": ["id", "accountId", "amount", "status", "date"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "completed", "failed", "cancelled"]
          },
          "description": {
            "type": "string"
          },
          "payee": {
            "type": "string"
          },
          "payeeAccount": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          },
          "fee": {
            "type": "number",
            "format": "decimal"
          }
        }
      },
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["accountId", "amount", "payee", "payeeAccount"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "payee": {
            "type": "string"
          },
          "payeeAccount": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "dueDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Investment": {
        "type": "object",
        "required": ["id", "accountId", "symbol", "quantity", "purchasePrice", "currentPrice"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "symbol": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "format": "decimal"
          },
          "purchasePrice": {
            "type": "number",
            "format": "decimal"
          },
          "currentPrice": {
            "type": "number",
            "format": "decimal"
          },
          "totalValue": {
            "type": "number",
            "format": "decimal"
          },
          "gainLoss": {
            "type": "number",
            "format": "decimal"
          },
          "gainLossPercent": {
            "type": "number",
            "format": "decimal"
          },
          "purchaseDate": {
            "type": "string",
            "format": "date"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateInvestmentRequest": {
        "type": "object",
        "required": ["accountId", "symbol", "quantity", "purchasePrice"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "symbol": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "format": "decimal"
          },
          "purchasePrice": {
            "type": "number",
            "format": "decimal"
          },
          "purchaseDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "Loan": {
        "type": "object",
        "required": ["id", "accountId", "principal", "interestRate", "term", "status"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "principal": {
            "type": "number",
            "format": "decimal"
          },
          "outstandingBalance": {
            "type": "number",
            "format": "decimal"
          },
          "interestRate": {
            "type": "number",
            "format": "decimal"
          },
          "term": {
            "type": "integer",
            "description": "Loan term in months"
          },
          "monthlyPayment": {
            "type": "number",
            "format": "decimal"
          },
          "status": {
            "type": "string",
            "enum": ["active", "paid_off", "defaulted", "in_grace_period"]
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "maturityDate": {
            "type": "string",
            "format": "date"
          },
          "nextPaymentDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "LoanApplication": {
        "type": "object",
        "required": ["id", "userId", "amount", "term", "status", "submittedAt"],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "term": {
            "type": "integer",
            "description": "Loan term in months"
          },
          "purpose": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "rejected", "under_review"]
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time"
          },
          "reviewedAt": {
            "type": "string",
            "format": "date-time"
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "LoanApplicationRequest": {
        "type": "object",
        "required": ["amount", "term", "purpose"],
        "properties": {
          "amount": {
            "type": "number",
            "format": "decimal"
          },
          "term": {
            "type": "integer",
            "description": "Loan term in months"
          },
          "purpose": {
            "type": "string"
          }
        }
      },
      "Statement": {
        "type": "object",
        "required": ["accountId", "startDate", "endDate", "transactions"],
        "properties": {
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "openingBalance": {
            "type": "number",
            "format": "decimal"
          },
          "closingBalance": {
            "type": "number",
            "format": "decimal"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
