{
  "openapi": "3.1.0",
  "info": {
    "title": "Solana Compressed NFT Verification API",
    "version": "1.0.0",
    "description": "Advanced Solana Digital Asset Standard (DAS) API for retrieving cryptographic merkle proofs \nfor compressed NFTs on the Solana blockchain. This specialized verification API enables \napplications to validate compressed assets using state proofs without requiring the full \non-chain data, supporting efficient ownership verification for compressed NFTs with up to \n1000x cost savings compared to traditional NFTs.\n",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://mainnet.helius-rpc.com",
      "description": "Mainnet RPC endpoint"
    },
    {
      "url": "https://devnet.helius-rpc.com",
      "description": "Devnet RPC endpoint"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api-key",
        "description": "Your Helius API key. You can get one for free in the [dashboard](https://dashboard.helius.dev/api-keys)."
      }
    }
  },
  "paths": {
    "/getAssetProof": {
      "post": {
        "tags": [
          "RPC"
        ],
        "summary": "getAssetProof",
        "description": "Retrieve the cryptographic merkle proof for a compressed Solana NFT or token.\nThis verification API returns the complete proof path required to validate a compressed\ndigital asset's existence and data integrity on the Solana blockchain without storing\nthe full asset data on-chain. Essential for marketplaces, wallets, and applications\nthat need to verify ownership and authenticity of compressed NFTs with the security\nguarantees of traditional on-chain assets but at a fraction of the storage cost.\n",
        "operationId": "rpc",
        "security": [
          {
            "ApiKeyQuery": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "The version of the JSON-RPC protocol.",
                    "default": "2.0"
                  },
                  "id": {
                    "type": "string",
                    "description": "An ID to identify the request.",
                    "default": "1"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getAssetProof"
                    ],
                    "description": "The name of the DAS method to invoke.",
                    "default": "getAssetProof"
                  },
                  "params": {
                    "type": "object",
                    "default": {
                      "id": "Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss"
                    },
                    "required": [
                      "id"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The unique identifier (mint address) of the compressed Solana NFT to retrieve the merkle proof for.",
                        "example": "Bu1DEKeawy7txbnCEJE4BU3BKLXaNAKCYcHR4XhndGss"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "last_indexed_slot": {
                      "type": "integer",
                      "description": "All data up to and including this slot is guaranteed to have been indexed.",
                      "example": 365750752
                    },
                    "root": {
                      "type": "string",
                      "description": "The root hash of the Solana state compression merkle tree that contains this compressed NFT.",
                      "example": "2o6Y6EiY3WXhoaEpei2pHmHLYnHDcEQVhgD89GrGHDBH"
                    },
                    "proof": {
                      "type": "array",
                      "description": "The array of merkle proof hashes needed to cryptographically verify this Solana compressed NFT exists in the tree.",
                      "items": {
                        "type": "string",
                        "example": [
                          "EmJXiXEAhEN3FfNQtBa5hwR8LC5kHvdLsaGCoERosZjK",
                          "7NEfhcNPAwbw3L87fjsPqTz2fQdd1CjoLE138SD58FDQ",
                          "6dM3VyeQoYkRFZ74G53EwvUPbQC6LsMZge6c7S1Ds4ks",
                          "A9AACJ5m7UtaVz4HxzhDxGjYaY88rc2XPoFvnoTvgYBj",
                          "2VG5cKeBZdqozwhHGGzs13b9tzy9TXt9kPfN8MzSJ1Sm",
                          "3E1uFze4pi6BnTZXMsQbeh3jQCeDi966Zax9aMbYgg2D",
                          "Bx9PdctdWCeC1WfU6dwP49idsXCYhqyxbRLyLwwGhr61",
                          "HSbJ8quT4vuXFgf5FnjzeUuFfAtLKsq6W1Frj8y1qrif",
                          "GJMLzL4F4hY9yFHY1EY6XRmW4wpuNGeBZTiv7vM2mYra",
                          "FYPtEiqmRx6JprHQvWeEWEuVp3WA7DPRCE4VbhFRVuAj",
                          "6MJKrpnK1GbYsnEzwMRWStNGkTjAZF23NhzTQSQVXsD3",
                          "HjnrJn5vBUUzpCxzjjM9ZnCPuXei2cXKJjX468B9yWD7",
                          "4YCF1CSyTXm1Yi9W9JeYevawupkomdgy2dLxEBHL9euq",
                          "E3oMtCuPEauftdZLX8EZ8YX7BbFzpBCVRYEiLxwPJLY2"
                        ]
                      }
                    },
                    "node_index": {
                      "type": "integer",
                      "description": "The position index of this compressed NFT in the Solana merkle tree structure.",
                      "example": 16384
                    },
                    "leaf": {
                      "type": "string",
                      "description": "The leaf hash representing this compressed NFT's data in the Solana merkle tree.",
                      "example": "6YdZXw49M97mfFTwgQb6kxM2c6eqZkHSaW9XhhoZXtzv"
                    },
                    "tree_id": {
                      "type": "string",
                      "description": "The unique identifier of the Solana merkle tree where this compressed NFT is stored.",
                      "example": "2kuTFCcjbV22wvUmtmgsFR7cas7eZUzAu96jzJUvUcb7"
                    },
                    "burnt": false
                  }
                }
              }
            }
          },
          "204": {
            "description": "No content."
          },
          "400": {
            "description": "Bad Request. The server could not understand the request due to invalid syntax.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32602
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid request parameters."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "1"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. The client must authenticate itself to get the requested response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32001
                        },
                        "message": {
                          "type": "string",
                          "example": "Authentication failed. Missing or invalid API key."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "1"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The client does not have access rights to the content.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32003
                        },
                        "message": {
                          "type": "string",
                          "example": "You do not have permission to access this resource."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "1"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The server can not find the requested resource.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32004
                        },
                        "message": {
                          "type": "string",
                          "example": "Asset proof not found for the specified ID."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "1"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The user has sent too many requests in a given amount of time.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32029
                        },
                        "message": {
                          "type": "string",
                          "example": "Rate limit exceeded. Please try again later."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "1"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. The server has encountered a situation it doesn't know how to handle.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32000
                        },
                        "message": {
                          "type": "string",
                          "example": "An unexpected error occurred on the server."
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "example": "1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}